<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head') %>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="white" data-active-color="danger">
      <%- include('../partials/sidebar') %>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
        <%- include('../partials/topbar', {title : 'Detalhes do Empréstimo'}) %>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-user">
              <div class="card-header">
                <h5 class="card-title"></h5>
              </div>
              <div class="card-body">
                <h3>
                  <span>Dados do Cliente</span>
                </h3>
                <form>
                  <div class="row">
                    <div class="col-md-6 pr-1">
                      <div class="form-group">
                        <label>Nome</label>
                        <input type="text" class="form-control" disabled placeholder="" value="Handerson Marinho">
                      </div>
                    </div>
                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>CPF</label>
                        <input type="text" class="form-control" disabled placeholder="" value="040.654.956-87">
                      </div>
                    </div>
                    <div class="col-md-2 pr-1">
                      <div class="form-group">
                        <label>Data do Contrato</label>
                        <input type="text" class="form-control" placeholder="10/01/2018" disabled value="">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3 pr-1">
                      <div class="form-group">
                        <label>Valor Contratado(R$)</label>
                        <input type="text" class="form-control" placeholder="" disabled value="5.000,00">
                      </div>
                    </div>
                    <div class="col-md-2 pr-1">
                      <div class="form-group">
                        <label>Prazo (meses)</label>
                        <input type="number" class="form-control" placeholder="" disabled value="12">
                      </div>
                    </div>
                    <div class="col-md-2 pr-1">
                      <div class="form-group">
                        <label>Taxa(% a.a)</label>
                        <input type="text" class="form-control" placeholder="5" disabled value="5">
                      </div>
                    </div>
                    <div class="col-md-4 pr-1">
                      <div class="form-group">
                        <label>Primeiro Vencimento</label>
                        <input type="text" class="form-control" placeholder="10/02/2018" disabled value="">
                      </div>
                    </div>
                  </div>
                </form>
                <hr/>
                <div class="row">
                  <div class="card-body">
                    <h3>
                      <span>Pagamento Extra</span>
                    </h3>
                  </div>
                </div>
                <hr/>
                <div class="row">
                  <div class="card-body">
                    <h3>
                      <span>Amortização</span>
                    </h3>
                    <div class="col-md-12">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>Pago</th>
                          <th>Vencimento</th>
                          <th>Parcela(R$)</th>
                          <th>Principal(R$)</th>
                          <th>Juros(R$)</th>
                          <th>Saldo(R$)</th>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked="">
                                  <span class="form-check-sign"></span>
                                </label>
                              </div>
                            </td>
                            <td>10/01/2018</td>
                            <td>470,00</td>
                            <td>416,00</td>
                            <td>44,00</td>
                            <td>4.584,00</td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked="">
                                  <span class="form-check-sign"></span>
                                </label>
                              </div>
                            </td>
                            <td>10/02/2018</td>
                            <td>470,00</td>
                            <td>416,00</td>
                            <td>44,00</td>
                            <td>4.168,00</td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked="">
                                  <span class="form-check-sign"></span>
                                </label>
                              </div>
                            </td>
                            <td>10/03/2018</td>
                            <td>470,00</td>
                            <td>416,00</td>
                            <td>44,00</td>
                            <td>3.752,00</td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked="">
                                  <span class="form-check-sign"></span>
                                </label>
                              </div>
                            </td>
                            <td>10/04/2018</td>
                            <td>470,00</td>
                            <td>416,00</td>
                            <td>44,00</td>
                            <td>3.336,00</td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <label class="form-check-label">
                                  <input class="form-check-input" type="checkbox" value="" checked="">
                                  <span class="form-check-sign"></span>
                                </label>
                              </div>
                            </td>
                            <td>10/05/2018</td>
                            <td>470,00</td>
                            <td>416,00</td>
                            <td>44,00</td>
                            <td>2.920,00</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="update ml-auto mr-auto">
                    <button type="button" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-danger">FInalizar Contrato</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <%- include('../partials/footer') %>
      </footer>
    </div>
  </div>
  <%- include('../partials/scripts') %>
    <script>
      $(document).ready(function () {
        //$('.table').DataTable();
      });
    </script>
</body>

</html>